.message-section {
    min-height: 800px;
    border: 1px solid blue;
}

.module {
    background-clip: padding-box;
    border: 0;
    border-radius: 6px;
    line-height: 16px;
    position: relative;
    margin-bottom: 10px;
    min-height: 100px;

    .flex-module {
        background-color: #fff;
        border: 1px solid #e6ecf0;
        padding: 15px;
        line-height: 16px;
    }
}

.account-group {
    .user-badges {
        font-size: .9em;
        position: relative;
        top: 1px;
    }

    .username {
        font-size: .9em;
        color: #657786;
    }
}
