.signup-wrapper {
    margin: 0 auto;
    min-height: 0;
    padding-top: 86px;

    h1 {
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        padding: 0;
        margin-bottom: 24px;
    }

    .form-control {
        background-color: transparent;
    }
}