.signup-wrapper {
    margin: 0 auto;
    min-height: 0;
    padding-top: 40px;

    h1 {
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        padding: 0;
        margin-bottom: 24px;
    }

    .form-control {
        background-color: transparent;
    }

    .signup-loader {
        margin-top: 8px;
        margin-left: -11px;
        color: #fff;
    }
}

@keyframes shake {
    0% {left: 0;}
    25% {left: -15px;}
    50% {left: 0;}
    75% {left: 15px;}
    100% {left: 0;}
}

.element-shake {
    position: relative;
    animation: shake 290ms 4 linear;
}