@import '../../shared.scss';

.App {
    text-align: center;
}

.overlay-container {
  position: relative;
  min-height: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  @include square(100%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

.spotlight {
    position: absolute;
    z-index: 20;
}

.fullname {
    color: #14171a;
    font-size: 14px;
    font-weight: bold;
}

form {
    .btn {
        background-image: none;
    }
}

.u-captalize {
  text-transform: capitalize;
}

li {
    &:focus {
        outline: none;
    }

    * {
        &:focus {
            outline: none;
        }
    }
}

a {
    &:focus {
        outline: none;
    }

    * {
        &:focus {
            outline: none;
        }
    }
}

.notification-title {
  text-transform: capitalize;
}
