html,
body {
  min-height: 100%; }

body {
  position: relative;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f5f8fa;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll; }

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  background: #0084B4 !important; }
