$primary-color: #1b95e0;
$lighter-primary-color: #1DA1F2;

$primary-border-radius: 6px;


@mixin section-title() {
    color: #66757f;
    font-size: 18px;
    font-weight: 300;
}

@mixin square($size) {
    height: $size;
    width: $size;
}

.selected {
    color: #1b95e0;
    border-bottom: 3px solid #1b95e0;
    transition: border-bottom 0.1s;
}

.u-box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}